.layout {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  min-height: 100vh;
  height: 100vh;
  padding: var(--gap-lg);
  background-color: var(--color-muted);
  overflow: hidden;
}
